# SPDX-FileCopyrightText: 2006-2023, Knut Reinert & Freie Universität Berlin
# SPDX-FileCopyrightText: 2016-2023, Knut Reinert & MPI für molekulare Genetik
# SPDX-License-Identifier: CC0-1.0
name: "Daily CI - check main has tag"

on:
  schedule:
    - cron: '0 8 * * *'
  workflow_dispatch:
env:
  TZ: Europe/Berlin

concurrency:
  group: daily_check_tag
  cancel-in-progress: true

jobs:
  build:
    name: ${{ matrix.os }}-${{ matrix.compiler }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 120
    strategy:
      fail-fast: false
      matrix:
        include:
          - {os: ubuntu-22.04, compiler: check_tag-open_issue}
    steps:
      - name: Standard IV-project testing
        uses: iv-project/IVaction@v9.22
        with:
          compiler: ${{ matrix.compiler }}
          threads: 2
          cmake_flags: ${{ matrix.cmake_flags }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
